@import "normalize";
@import "foundation";

body {
    margin-top: 10px;
}

.side-nav {
    padding-top: 0;
}

#table_view {
    table {
        td {
            line-height: 37px;
            input {
                margin: 0;
            }
        }
    }
}

.datepicker {
    width: 300px;
}